<script id="template-upload" type="text/x-jquery-tmpl">
  <div class="attachment">
    <div class="attachment_thumbnail preview"></div>
    <div class="attachment_details_container clearfix">
      <ul class="attachment_details">
        <li class="name">${name}</li>
        {{if error}}
        <li class="error template-upload{{if error}} ui-state-error{{/if}}">Error:
          {{if error === 'maxFileSize'}}File is too big
          {{else error === 'minFileSize'}}File is too small
          {{else error === 'acceptFileTypes'}}Filetype not allowed
          {{else error === 'maxNumberOfFiles'}}Max number of files exceeded
          {{else}}${error}
          {{/if}}
        </li>
        {{else}}
        <li class="uploader">Uploaded by <%= current_user.display_name %></li>
        <li class="metadata">${sizef}<span> on <%= Time.now.to_s(:pretty) %></span></li>
        {{/if}}
      </ul>
    </div>
  </div>
</script>